.container {
    // max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style: none;
}

.item{
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(128, 0, 100);
    padding: 15px;
    text-align: center;
    height: 100px;
}