.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style: none;
}

.item {
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(128, 0, 100);
    padding: 15px;
    text-align: center;
    height: 100px;
    cursor: pointer;
}