.btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    color: rgb(128, 0, 100);
    background-color: #fff;
    border: 1px solid rgb(128, 0, 100);
    border-radius: 5px;
}